<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>If we can&apos;t ship this puppy by then, we might as well be herding yaks.</string>
		<string>I&apos;m glad it&apos;s getting weird again. I didn&apos;t understand it when it wasn&apos;t weird.</string>
		<string>The C switch statement: Mmmmmm! Chock full of nooses!</string>
		<string>That would be like crossing the streams or something.</string>
		<string>Mmmm... Chicago style pizza!</string>
		<string>I&apos;ve got my blankie, I&apos;m good to go.</string>
		<string>A lot of this job is mental.</string>
		<string>Mostly clockwise, sometimes reverses...</string>
		<string>What&apos;s the sound of one luma clamping?</string>
		<string>I just wanna be in the app!</string>
		<string>Oh, rough and woeful music which we have! Cause it to sound!</string>
		<string>The Yak is a delightful creature... rather like a visit with a bovine Confucious</string>
		<string>Nobody might know anything.</string>
		<string>I don&apos;t know, somehow it just works.</string>
		<string>How do you tempt a Yak?</string>
		<string>Chocolate covered espresso beans!</string>
		<string>We&apos;re not the engineers you&apos;re looking for. Move along, move along.</string>
		<string>The little cartoon man is messing with my head!</string>
		<string>Speed kills, but sync maims.</string>
		<string>It&apos;s compatible with it&apos;s legacy.</string>
		<string>Twix bars: A brand-new bad habit!</string>
		<string>Many Yaks were exploited during the creation of this product.</string>
		<string>I can neither confirm nor deny the existence of nuclear weapons in this product.</string>
		<string>I&apos;m concerned because the cow sounded pretty threatening.</string>
		<string>I am NOT a mad cow!</string>
		<string>I don&apos;t care who&apos;s on the other end of the phone... Hang it up!</string>
		<string>I have deniable plausibility.</string>
		<string>Note to the galley: Romulan Cosmos no longer to be served on school nights!</string>
		<string>Carrot and a footprint.</string>
		<string>Asteriskified?</string>
		<string>Where&apos;s a single Yak to go now that the Edit Bar is gone?</string>
		<string>Aaargh, I forgot to pay the rent!</string>
		<string>When you have a car that&apos;s that uncool, you just gotta drive stupid.</string>
		<string>Did it happen with yesterday&apos;s umbrella?</string>
		<string>When can I do color correction by the pool?</string>
		<string>Are you filling his head with chocolate?</string>
		<string>The lights going off at midnight, it&apos;s almost like a slap in the face... Hey, stupid, it&apos;s tomorrow!</string>
		<string>Yeah, that&apos;s covered under item #152.</string>
		<string>I was probably the last one to see him alive.</string>
		<string>We&apos;re not play&apos;in poker here.</string>
		<string>All I want for Christmas is a stack trace!</string>
		<string>Think PIKE!</string>
		<string>Don&apos;t look at me. They&apos;re not my flying monkeys.</string>
		<string>What, were you expecting &quot;Moo&quot; or something?</string>
		<string>This is not a Yak Bite.</string>
		<string>Somehow I can&apos;t convince myself that this isn&apos;t all just one big hack.</string>
		<string>At least Spock had stone knives and bear skins!</string>
		<string>It&apos;s a single malt problems.</string>
		<string>Everyone drops it the first time.</string>
		<string>OK... who&apos;s job is it to write the Flush Wizard?</string>
		<string>Controlled evil is not necessarily bad.</string>
		<string>Pinky, are you thinking what I&apos;m thinking? I think so, Brain... but can you do that with a Yak?</string>
		<string>It&apos;s like a gob of peanut butter for the roof of your brain.</string>
		<string>Savor the unbridled complexity that we&apos;ve crafted for you.</string>
		<string>Look, there&apos;s no such thing as a &apos;Clacker&apos;!</string>
		<string>Don&apos;t panic - everything is under control. There is no fire. Have a great day.</string>
		<string>Get rid of the spasmic &quot;U&quot;.</string>
		<string>That&apos;s my fault originally, but many others are to blame since.</string>
		<string>The disco ball is spinning, but no one&apos;s home.</string>
		<string>There were many lessons learned during the early years.</string>
		<string>That movie had plot holes big enough to drive whole other movies through!</string>
		<string>Please refrain from sucking.</string>
		<string>I&apos;m highly in favor of putting in code to do stuff.</string>
		<string>I want to see lots of deliminators.</string>
		<string>Can I get that for free?</string>
		<string>Wrong thinking will be punished. Right thinking will be as quickly rewarded.</string>
		<string>All right, Who replaced the Oscillation OverThruster with an AutoSyncDetector?</string>
		<string>Will, you&apos;re scaring the children.</string>
		<string>Didn&apos;t this used to be purple?</string>
		<string>Hellooooo! I&apos;m trying to edit here!</string>
		<string>Remember-- thingies are free!</string>
		<string>...and so forth and so on...</string>
		<string>That and a folded napkin will level a chair.</string>
		<string>Oops, It works!</string>
		<string>Free drink? That just cost me $200!</string>
		<string>Don&apos;t lick your zipper.</string>
		<string>I went to pull it out and it was like three feet long.</string>
		<string>Kinda cool; kind of a hack. Like so much of this business.</string>
		<string>Salad is a lot of work!</string>
		<string>The opposite of &quot;weird&quot; is &quot;boring&quot;.</string>
		<string>Do or do not. There is no don&apos;t.</string>
		<string>Thirty quatloos says it crashes during launch!</string>
		<string>Check your Caps Lock key.</string>
		<string>...by an expert. Worse, a committee of experts.</string>
		<string>There&apos;s a disease going around in QA right now. Stay away from those guys.</string>
		<string>What? You were expecting a paper clip?</string>
		<string>Personally, I _like_ editing under a tree!</string>
		<string>We&apos;re going to leave the underwear in the tutorial.</string>
		<string>Ok, Nobody prints, Nobody gets hurt!</string>
		<string>Please hold for the next available consumer.</string>
		<string>Cows didn&apos;t have dynamite and steam shovels.</string>
		<string>This is so lame it hurts.</string>
		<string>She&apos;s speaking in tongues.</string>
		<string>I was the innocent victim of a drive by coding.</string>
		<string>It&apos;s all wired up... we just have to turn it on.</string>
		<string>Where&apos;s the &apos;Poof&apos; manager? It&apos;s the international symbol for &quot;Your zipper&apos;s open&quot;.</string>
		<string>There exists, but you can&apos;t get there from here.</string>
		<string>There was a memo?</string>
		<string>That&apos;s a little too non-virtual for this group.</string>
		<string>You can call me Bruce the Wonder Yak.</string>
	</array>
</plist>